<div class="row animated fadeInRight">
  <div class="col-md-4">
      <div class="box box-success">
          <div class="panel-heading">
              表格标题
          </div>
          <div class="panel-body">
              <form id="update-form" role="form" data-toggle="validator" method="POST" action="{:url('general.profile/update')}">
                  <div class="form-group">
                      <label for="username" class="control-label">输入内容:</label>
                      <input type="text" class="form-control" name="row[username]" value="{$admin.username}" disabled />
                  </div>
                  <div class="form-group">
                      <label for="email" class="control-label">输入内容:</label>
                      <input type="text" class="form-control" name="row[email]" value="{$admin.email}" />
                  </div>
                  <div class="form-group">
                      <label for="nickname" class="control-label">输入内容:</label>
                      <input type="text" class="form-control" name="row[nickname]" value="{$admin.nickname}" required="required" />
                  </div>
                  <div class="form-group">
                      <label for="password" class="control-label">输入内容:</label>
                      <input type="text" class="form-control" placeholder="{:__('Leave password blank if dont want to change')}" name="row[password]" value=""/>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-success">{:__('Submit')}</button>
                      <button type="reset" class="btn btn-default">{:__('Reset')}</button>
                  </div>

              </form>
          </div>
      </div>

  </div>
</div>
